{% extends 'base.html' %}

{% block style %}
div.box
{
    top: 0%;
    left: 15%;
    width: 70%;
	height: 100%;
}

table
{
    top: 20%;
    left: 25%;
    width: 50%;
    position: absolute;
}

table, th
{
    text-align: center;
    border: 1px solid black;
}

th
{
    background-color: #9f9f9f;
}

td
{
    text-align: center;
}

tr: hover
{
    background-color: #9f9f9f;
}
{% endblock %}

{% block content %}
<h2 style=" position:absolute;top: 7%; left: 40%;">Search Medicines</h2>
<form action="/home/" method="post">
    {% csrf_token %}
    <label for="medicine_name" style="position:absolute;top: 15%; left: 32%;">Medicine Name: </label>
    <input type="text"     id="medicine_name" name="medicine_name" value="" style="position:absolute;top: 15%; left: 45%;">
    <input class="button" type="submit" value="OK" style="position:absolute;top: 15%; left: 63%; width: 50px;">
</form>

{% if data %}
<table>
<tr>
    <th>Name</th>
    <th>Type</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Add to Cart</th>
</tr>
    {% for obj in data %}
        <tr>
            <td>{{ obj.name }}</td>
            {% if obj.medicine_type  == 'O' %}
                <td>Oral</td>
            {% elif obj.medicine_type  == 'I'%}
                 <td>IV</td>
            {% else %}
                <td>Unknown</td>
            {% endif %}
            <td>{{ obj.retail_price }}</td>
            <td><input type="number" name="Quantity" min="1" max="{{ obj.stock }}" value="1"></td>
            <td><button class="button" type=button>+</button></td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}