{% extends 'base.html' %}

{% block style %}
div.box
{
    top: 0%;
    left: 15%;
    width: 70%;
	height: 100%;
}

table
{
    top: 20%;
    left: 25%;
    width: 50%;
    position: absolute;
}

table, th
{
    text-align: center;
    border: 1px solid black;
}

th
{
    background-color: #9f9f9f;
}

td
{
    text-align: center;
}

tr: hover
{
    background-color: #9f9f9f;
}
{% endblock %}

{% block content %}
<h2 style=" position:absolute;top: 7%; left: 40%;">Search Medicines</h2>
<form action="/home/" method="post">
    {% csrf_token %}
    <label for="medicine_name" style="position:absolute;top: 15%; left: 32%;">Medicine Name: </label>
    <input type="text"     id="medicine_name" name="medicine_name" value="" style="position:absolute;top: 15%; left: 45%; width: 200px">
    <input class="button" type="submit" value="Search" style="position:absolute;top: 15%; left: 65%; width: 100px;">
</form>

{% if data %}
<table>
<tr>
    <th>Name</th>
    <th>Type</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Add to Cart</th>
</tr>
    {% for obj in data %}
        <tr>
            <td>{{ obj.name }}</td>
            {% if obj.medicine_type  == 'O' %}
                <td>Oral</td>
            {% elif obj.medicine_type  == 'I'%}
                 <td>IV</td>
            {% else %}
                <td>Unknown</td>
            {% endif %}
            <td>{{ obj.retail_price }}</td>
            <td><input type="number" id="Quantity" min="1" max="{{ obj.stock }}" value="1"></td>
            <td><button class="button" type=button
                        onclick="send_data('{{ obj.name }}', '{{ obj.retail_price }}', document.getElementById('Quantity').value)"
            >+</button></td>
        </tr>
    {% endfor %}
</table>
{% endif %}

<script>
session = window.sessionStorage;
let cart_id = 'cart_07a67e76-3bea-4e31-9b5e-949196880f04';
function send_data(name, price, numbers)
{
    let currentItem = {'name': name, 'price': price, 'n': numbers};
    let item = session.getItem(cart_id);
    let cart;
    if (item != 'null')
    {
        cart = JSON.parse(item);
        let has_found = false;
        for (item of cart)
        {
            if (item.name === name)
            {
                item.n = (parseInt(item.n) + parseInt(numbers)).toString();
                has_found = true;
                break;
            }
        }


        if (!has_found)
        {
            cart = cart.concat([currentItem]);
        }

    }
    else
    {
        cart = [currentItem];
    }

    session.setItem(cart_id, JSON.stringify(cart));
}
</script>

{% endblock %}